*
!.config/
!.config/nvim
!.config/nvim/*
!.config/nvim/**/*

!.config/kitty
!.config/kitty/*

!.config/alacritty
!.config/alacritty/*
!.config/alacritty/**/*

!.config/neovide
!.config/neovide/*
!.config/neovide/**/*

!.gitignore
!.zshrc
!.tmux.conf
!README.md
