*
!.config/
!.config/nvim
!.config/nvim/*
!.config/nvim/**/*

!.config/kitty
!.config/kitty/*

!.config/alacritty
!.config/alacritty/*
!.config/alacritty/**/*

!.config/neovide
!.config/neovide/*
!.config/neovide/**/*

!.config/yabai
!.config/yabai/*
!.config/yabai/**/*

!.config/skhd
!.config/skhd/*
!.config/skhd/**/*

!.gitignore
!.zshrc
!.tmux.conf
!README.md
